* {
    margin: 10px;
}

.listings {
    display: flex;
    gap: 20px;
    margin: 6px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #dfe1e5;
    border-radius: 30px;
    width: 200px;
    text-align: center;
    padding: 20px;
}

.card:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

.create_form {
    display: grid;
}

.create_form input {
    border: 1px solid #dfe1e5;
    border-radius: 30px;
    padding: 10px;
    padding-left: 30px;
}