{% extends "auctions/layout.html" %}
{% load humanize %}
<!-- Humanize allows use of the intcomma filter (1000 = 1,000) -->

{% block body %}

<h1>{{ category }}</h1>

<div class="index_grid">
    <div class="listings">
    {% for listing in listings %}
        {% if listing.active == True %}
        <a href="{% url 'listing' listing.id %}">
            <div class="card">
                <img src="{{ listing.image }}">
                <div class="card_details">
                    <h2>{{ listing.title|slice:":15"  }}</h2>
                    <h3>{{ listing.highest_bid|intcomma }} kr.</h3>
                </div>
            </div>
        </a>
    {% endif %}
    {% empty %}
        <h2>No current listings</h2>
    {% endfor %}
    </div>

    <h2>Ended Listings</h2>
    <div class="listings">
    {% for listing in listings %}
        {% if listing.active == False %}
        <a href="{% url 'listing' listing.id %}">
            <div class="card">
                <img src="{{ listing.image }}">
                <p class="sold_sign">SOLD</p>
                <div class="card_details">
                    <h2>{{ listing.title|slice:":15"  }}</h2>
                    <h3>{{ listing.highest_bid|intcomma }} kr.</h3>
                </div>
            </div>
        </a>
    {% endif %}
    {% empty %}
        <h2>No current listings</h2>
    {% endfor %}
    </div>
</div>

{% endblock %}