{% load static %}
{% load humanize %}
<!-- Humanize allows use of the intcomma filter (1000 = 1,000) -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav>
            <div>
                <a href="{% url 'index' %}"><h1 id="logo">dba</h1></a>
            </div>
            <div id="search_area">
                <form action="{% url 'index' %}" method="GET">
                    <div id="searchbar">
                        <i id="magnifier" class="fa fa-search"></i>
                        <input id="searchinput" type="text" name="q" placeholder="Search">
                    </div>
                </form>
            </div>
            <div class="user">
                {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'new_listing' %}">List an Item</a>
                    <a class="profile_link" href="{% url 'profile' %}">
                        <img class="avatar" src="https://www.dba.dk/static/dba-vip-site/images/avatar_private_male_user.png">
                        <h3 class="username">{{ user.username }}</h3>
                    </a>
                {% else %}
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
        </nav>
        <div class="categories">
            {% for category_name, category_emoji in categories %}
                <a class="category_link" href="{% url 'categories' category_name %}">{{ category_emoji }} {{ category_name }}</a>
            {% endfor %}
        </div>

        {% if request.GET.message %}
        <div class="message">
            <p>{{ request.GET.message }}</p>
        </div>
        {% endif %}

        {% if message %}
        <div class="message">
            <p>{{ message }}</p>
        </div>
        {% endif %}

        <main>
        {% block body %}
        {% endblock %}
        </main>
    </body>
</html>
