{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

<div class="listings">
    <div class="card">
             <h2>{{ listing.title }}</h2>
             <p>{{ listing.description }}</p>
             <img src="{{ listing.image }}">
             <h3>€{{ listing.start_bid }}</h3>
             <p>Category: {{ listing.category }}</p>
    </div>
</div>

<form action="{% url 'listing' listing.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="listing_id" value="{{ listing.id }}"></input>
    <input type="text" name="comment" placeholder="comments"></input>
    <input type="submit">
</form>

<div class="comments">
    {% for comment in comments %}
        <!-- To display the listing_id of the comment: <p>{{ comment.listing_id.id }}</p> -->
        <strong>{{ comment.user }}</strong>
        <p>{{ comment.comment }}</p>
        <p>{{ comment.time }}</p>
    {% endfor %}
</div>

{% endblock %}