{% extends "auctions/layout.html" %}

{% block body %}
    <div class="wrapper">
        <h2>Create a Listing</h2>

        <form action="{% url 'new_listing' %}" method="POST" class="create_form">
            {% csrf_token %}
            <input type="text", name="title", placeholder="Title">
            <input type="text", name="description", placeholder="Description">
            <input type="text", name="image", placeholder="Image Url">
            <input type="number", name="start_price", placeholder="Starting Price">
            <select name="category", placeholder="Category">
                <option value="Null">Category</option>
                {% for category_name, category_emoji in categories %}
                <option value="{{ category_name }}">{{ category_emoji }} {{ category_name }}</option>
                {% endfor %}
            <input class="submit_button" type="submit">
        </form>
    </div>

{% endblock %}