{% extends "auctions/layout.html" %}

{% block body %}

<div class="wrapper">

    <h2>Register</h2>

        <form action="{% url 'register' %}" method="post" class="create_form" >
            {% csrf_token %}
            <input autofocus type="text" name="username" placeholder="Username">
            <input type="email" name="email" placeholder="Email Address">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="confirmation" placeholder="Confirm Password">
            <input type="submit" value="Register">
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>
</div>

{% endblock %}